@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');
/* Title */

h1 {
    color:white;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
}

body {
    background-color: green;
    margin: 20px;
}

/* square */

.square {
    display: flex;
    min-height: 80vh;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    /* background-color: rgba(255, 255, 255, 0.562); */
    width: 100%;
    outline: 5px solid black;
    font-family: "Lalezar";
    font-size: 40px;
    text-align: center;
}

.square1{
    min-height: 80vh;
    width:50%;
    background-color: aqua;
    outline: 5px solid black;

}

.square2{
    min-height: 80vh;
    width:50%;
    background-color: red;
    outline: 5px solid black;

}

.square > #player{
    color: black;
    font-family: 'Lalezar', cursive;
    font-size: 30px;
}

.section {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.section > button{
    color: white;
    background-color: green;
    border: none;
    outline: 2px solid black;
    margin-bottom: 20px;
}

.section > button:hover{
    background-color: rgb(15, 73, 15);
}

.section > button:active{
    background-color: rgb(14, 46, 14);
}

p {
    font-family: 'Lalezar', cursive;
    font-size: 20px;
}

/* dice holder */ 

.section > #dice {
    filter: grayscale(100%);
    flex-flow: row wrap;
    outline: 5px solid black;
    align-self: center;
    /* margin-left: -1530px;
    margin-top: 300px; */
}